/* Navbar.css */
.navbar {
    background-color: #F5F5DC; /* Changed background color */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-name {
    color: black;
    font-weight: bold;
    margin-right: 15px;
    font-size: 1.2em;
  }
  
  .navbar-role {
    color: grey;
    font-size: 0.9em;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin: 0 5px; /* Reduced gap between navbar items */
  }
  
  .navbar-item a {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar-item a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  /* Add active class styles */
  .navbar-item a.active {
    background-color: #1f1f1f;
    color: white;
  }
  